body {
  overflow-x: hidden;
  font-family: Averta-Regular;
  color: #505962;
}

/* navigation */

.navbar {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: #f2ebe9 !important;
}

.navbar-brand {
  font-size: 2rem;
  color: #000 !important;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  padding-top: 0.8rem;
  font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #e7332b;
}

/* mentor page */

.mentor-intro {
  background: #f2ebe9;
  height: 560px;
}

.mentor-intro p {
  font-size: 32px;
  line-height: 48px;
  font-family: Averta-Bold;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 96px;
}

.sub-heading {
  color: #e7332b;
  font-size: 14px;
  padding-top: 280px;
}

#mentor-gallery {
  margin-top: 98px;
}
.mentor-image {
  text-align: center;
}

.mentor-detail {
  margin-bottom: 100px;
}

.mentor-name {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
}

.mentor-track {
  font-size: 14px;
  margin-bottom: 30px;
}

/* enroll section */

#enroll {
  height: 669px;
  padding: 173px 0 153px 0;
}

#enroll-content {
  background: url('../img/dark-bg.svg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 342px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#enroll-content p {
  margin-bottom: 48px;
  font-size: 24px;
}

.btn-red {
  width: 148px;
  height: 46px;
  background: #e7332b;
  color: #fff;
}

/* media queries */

@media (max-width: 767px) {
  .mentor-intro {
    height: 326px;
  }

  .sub-heading {
    padding-top: 142px;
  }

  .mentor-intro p {
    font-size: 14px;
    width: 100%;
  }

  #mentor-gallery {
    margin-top: 30px;
  }

  .mentor-detail {
    margin-bottom: 30px;
  }

  /* enroll section */

  #enroll {
    height: 669px;
    padding: 113px 0 153px 0;
  }
  #enroll .container {
    margin: 0;
    padding: 0;
  }

  #enroll-content {
    height: 200px;
  }

  #enroll-content p {
    font-size: 16px;
  }
}

.mentor-detail img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.mentor-detail:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.mentor-image {
  overflow: hidden;
}

.mentor-detail {
  max-width: 314px;
  margin-left: auto;
  margin-right: auto;
}

/* FONT SIZING  */
.mentor-name {
  font-family: Averta-Semibold;
  font-size: 16px;
  line-height: 24px;
  color: #514949;
}

.mentor-track {
  font-family: Averta-Semibold;
  font-size: 14px;
  line-height: 24px;

  color: #514949;
}

.sub-heading {
  font-family: Averta-Regular;
  font-size: 14px;
  line-height: 24px;

  color: #e7332b;
}

.big-heading {
  font-family: Averta-Regular;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: #514949;
}

@media (min-width: 768px) {
  .big-heading {
    font-family: Averta-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;

    text-align: center;

    color: #514949;
  }

  .sub-heading {
    font-family: Averta-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #e7332b;
  }

  .mentor-name {
    font-family: Averta-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #514949;
  }

  .mentor-track {
    font-family: Averta-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
  }
}
